Repository FlashOWare/FlashOWare.Generators, pull requests merged in 2024-05, with the labels that each got.

#22 chore: mirror directory structure
  source/examples/FlashOWare.Generators.Example/Generators/Enumerations/EnumerationExamples.cs
  source/examples/FlashOWare.Generators.Example/Program.cs
  source/perf/FlashOWare.Generated.Benchmarks/Generators/Enumerations/EnumGetNameBenchmarks.cs
  source/perf/FlashOWare.Generated.Benchmarks/Generators/Enumerations/EnumIsDefinedBenchmarks.cs
  source/perf/FlashOWare.Generated.Benchmarks/Generators/Enumerations/GeneratedEnum.cs
  source/perf/FlashOWare.Generated.Benchmarks/Generators/Enumerations/SystemEnum.cs
  source/perf/FlashOWare.Generators.Benchmarks/Generators/Enumerations/GeneratorBenchmarks.cs
  source/tests/FlashOWare.Generated.Tests/Generators/Enumerations/EnumGetNameTests.cs
  source/tests/FlashOWare.Generated.Tests/Generators/Enumerations/EnumIsDefinedTests.cs
  source/tests/FlashOWare.Generated.Tests/Generators/Enumerations/Enums.cs
  source/tests/FlashOWare.Generated.Tests/Generators/Enumerations/GeneratedEnum.cs
  source/tests/FlashOWare.Generated.Tests/Generators/Enumerations/SystemEnum.cs
  source/tests/FlashOWare.Generators.Tests/Generators/Enumerations/GeneratorTests.cs
Labels: changelog:none, scope:repo, type:chore

#23 test: add unit testing
  nuget.config
  source/.globalconfig
  source/tests/.globalconfig
  source/tests/FlashOWare.Generated.Tests/App.config
  source/tests/FlashOWare.Generated.Tests/Diagnostics/DebugAssertException.cs
  source/tests/FlashOWare.Generated.Tests/Diagnostics/DebugTraceListener.cs
  source/tests/FlashOWare.Generated.Tests/FlashOWare.Generated.Tests.csproj
  source/tests/FlashOWare.Generators.Tests/App.config
  source/tests/FlashOWare.Generators.Tests/CodeAnalysis/CSharp/CSharpVerifierHelper.cs
  source/tests/FlashOWare.Generators.Tests/CodeAnalysis/CSharp/Testing/CSharpIncrementalGeneratorTest.cs
  source/tests/FlashOWare.Generators.Tests/CodeAnalysis/CSharp/Testing/CSharpIncrementalGeneratorVerifier.cs
  source/tests/FlashOWare.Generators.Tests/CodeAnalysis/Testing/Assemblies.cs
  source/tests/FlashOWare.Generators.Tests/Compatibility/System.cs
  source/tests/FlashOWare.Generators.Tests/Diagnostics/DebugAssertException.cs
  source/tests/FlashOWare.Generators.Tests/Diagnostics/DebugTraceListener.cs
  source/tests/FlashOWare.Generators.Tests/FlashOWare.Generators.Tests.csproj
  source/tests/FlashOWare.Generators.Tests/Generators/Enumerations/EnumGetNameGeneratorTests.cs
  source/tests/FlashOWare.Generators.Tests/Generators/Enumerations/EnumInterceptorGeneratorTests.cs
  source/tests/FlashOWare.Generators.Tests/Generators/Enumerations/EnumIsDefinedGeneratorTests.cs
  source/tests/FlashOWare.Generators.Tests/Generators/Enumerations/GeneratorTests.cs
  source/tests/FlashOWare.Generators.Tests/Generators/GeneratorTests.cs
  source/tests/FlashOWare.Generators.Tests/Library/AttributeTests.cs
  source/tests/FlashOWare.Generators.Tests/Properties/GlobalUsings.cs
  source/tests/FlashOWare.Generators.Tests/Text/AutoGenerated.cs
Labels: changelog:none, scope:repo, type:test

#25 fix: initial bug fixes and changes
  docs/CHANGELOG-Prerelease.md
  docs/gen/System.Enum-Interceptors-Generator.md
  docs/gen/System.Enum.GetName-Generator.md
  docs/gen/System.Enum.IsDefined-Generator.md
  docs/lib/FlashOWare.Generators.GeneratedEnumGetNameAttribute-1.md
  docs/lib/FlashOWare.Generators.GeneratedEnumIsDefinedAttribute-1.md
  source/gen/.globalconfig
  source/gen/FlashOWare.Generators/CodeAnalysis/IncrementalValuesProviderExtensions.cs
  source/gen/FlashOWare.Generators/Collections/Generic/ImmutableArrayEqualityComparer.cs
  source/gen/FlashOWare.Generators/Collections/Generic/ReferenceEqualityComparer.cs
  source/gen/FlashOWare.Generators/Compatibility/System.Collections.Immutable.cs
  source/gen/FlashOWare.Generators/FlashOWare.Generators.csproj
  source/gen/FlashOWare.Generators/Generators/Enumerations/EnumGetNameGenerator.cs
  source/gen/FlashOWare.Generators/Generators/Enumerations/EnumInterceptorGenerator.cs
  source/gen/FlashOWare.Generators/Generators/Enumerations/EnumIsDefinedGenerator.cs
  source/gen/FlashOWare.Generators/Generators/Enumerations/EnumerationAttributeTarget.cs
  source/gen/FlashOWare.Generators/Generators/Enumerations/EnumerationTypeData.cs
  source/gen/FlashOWare.Generators/Properties/GlobalUsings.cs
  source/gen/FlashOWare.Generators/Text/Sources.cs
  source/lib/FlashOWare.Generators.Attributes/Properties/GlobalUsings.cs
  source/perf/FlashOWare.Generated.Benchmarks/Generators/Enumerations/EnumGetNameBenchmarks.cs
  source/perf/FlashOWare.Generated.Benchmarks/Generators/Enumerations/GeneratedEnum.cs
  source/tests/FlashOWare.Generated.Tests/Generators/Enumerations/Enums.cs
  source/tests/FlashOWare.Generated.Tests/Generators/Enumerations/GeneratedEnum.cs
  source/tests/FlashOWare.Generators.Tests/CodeAnalysis/CSharp/Testing/CSharpIncrementalGeneratorTest.cs
  source/tests/FlashOWare.Generators.Tests/CodeAnalysis/CSharp/Testing/CSharpIncrementalGeneratorVerifier.cs
  source/tests/FlashOWare.Generators.Tests/CodeAnalysis/Testing/DiagnosticResults.cs
  source/tests/FlashOWare.Generators.Tests/CodeAnalysis/Testing/SourceFileCollectionExtensions.cs
  source/tests/FlashOWare.Generators.Tests/CodeAnalysis/Testing/SourceFileListExtensions.cs
  source/tests/FlashOWare.Generators.Tests/Compatibility/System.Collections.Generic.cs
  source/tests/FlashOWare.Generators.Tests/FlashOWare.Generators.Tests.csproj
  source/tests/FlashOWare.Generators.Tests/Generators/Enumerations/EnumGetNameGeneratorTests.cs
  source/tests/FlashOWare.Generators.Tests/Generators/Enumerations/EnumInterceptorGeneratorTests.cs
  source/tests/FlashOWare.Generators.Tests/Generators/Enumerations/EnumIsDefinedGeneratorTests.cs
  source/tests/FlashOWare.Generators.Tests/Properties/GlobalUsings.cs
Labels: changelog:changed, changelog:fixed, scope:enum, type:fix

#10 feat: generate intercepted method body only once
  docs/CHANGELOG-Prerelease.md
  source/gen/FlashOWare.Generators/Generators/Enumerations/EnumInterceptorGenerator.cs
  source/gen/FlashOWare.Generators/Text/Methods.cs
  source/tests/FlashOWare.Generators.Tests/Generators/Enumerations/EnumInterceptorGeneratorTests.cs
Labels: changelog:changed, scope:enum, type:feat
